<!-- Info partial for right hand box -->

<h4><%= @widget.name %></h4>
<p><%= @widget.description%></p>

<% if !@cart.in_cart?(@widget) %>
  <a href="#" class="small button">Add to Cart</a>
<% else %>
  <a href="#" class="small button disabled">Already in Cart</a>
<% end %>

<% if @sale.on_sale?(@widget) %>
  <h4 class="widget-price full-price right"><%= number_to_currency(@widget.price) %></h4>
  <h4 class="widget-price sale-price"><%= number_to_currency(@widget.price - @widget.price * @sale.percentage) %></h4>
<% else %>
  <h4 class="widget-price right"><%= number_to_currency(@widget.price) %></h4>
<% end %>

<% if @sale.on_sale?(@widget) && !@cart.in_cart?(@widget) %>
  <div data-alert class="alert-box success radius">
    This price is available for <%= distance_of_time_in_words(@sale.end_date, Time.now) %>.
  </div>
<% end %>

<% if @cart.items > 0 %>
  <div data-alert class="alert-box info radius">
    There are <%= @cart.items %> items in your cart.
  </div>
<% end %>
