<!-- Info partial for right hand box -->

<div class="large-5 columns">
  <h4><%= @widget.name %></h4>
  <p><%= @widget.description%></p>

  <div class="panel">
    <h6 class="subheader">You know you want these, make it happen!</h6>
    <a href="#" class="small button">Add to Cart</a>
    <h4 class="widget-price sale-price"><%= @widget.price %></h4>
    <h6>This price is available until <%= @sale_end_time %></h6>
    <a href="#">
      <div class="panel callout radius">
        <h6><%= @cart_items %> items in your cart</h6>
      </div>
    </a>
  </div>
</div>
