<h4><%= @product_presenter.name %></h4>
<p><%= @product_presenter.description %></p>

<%= @product_presenter.cart_action_button %>
<%= @product_presenter.price %>

<%= @product_presenter.end_of_sale %>
<%= @product_presenter.items_in_cart %>
