<h4><%= @product_presenter.name %></h4>
<p><%= @product_presenter.description %></p>

<% if !@cart.in_cart?(@product) %>
  <a href="#" class="small button">Add to Cart</a>
<% else %>
  <a href="#" class="small button disabled">Already in Cart</a>
<% end %>

<% if @sale.on_sale?(@product) %>
  <h4 class="price full-price right"><%= number_to_currency(@product.price) %></h4>
  <h4 class="price sale-price"><%= number_to_currency(@product.price - @product.price * @sale.percentage) %></h4>
<% else %>
  <h4 class="price right"><%= number_to_currency(@product.price) %></h4>
<% end %>

<% if @sale.on_sale?(@product) && !@cart.in_cart?(@product) %>
  <div data-alert class="alert-box success radius">
    This price is available for <%= distance_of_time_in_words(@sale.end_date, Time.now) %>.
  </div>
<% end %>

<% if @cart.items > 0 %>
  <div data-alert class="alert-box info radius">
    There are <%= @cart.items %> items in your cart.
  </div>
<% end %>
